// @import '_colors';
// @import '_buttons';

// $preto: #999;
// $laranja: rgb(235, 44, 123);
// $fonte: Verdana;

// div {
//     background: $preto;
//     a {
//         color: $laranja;
//         font-family: $fonte;
//     }
// }

$cor-principal: orange;
$font: monospace;
$size-text: 1.2em;

section {
	max-width: 600px;
	margin: 0 auto;
}

h1 {
	color: $cor-principal;
	font-family: $font;
}

p {
	font: {
		size: $size-text;
		family: $font;
	}
	line-height: 1.4;
	max-width: 400px;
}

.modal {

	a {
		display: block;
		max-width: 120px;
		padding: 10px;
		border-radius: 4px;
		text-align: center;
		background: $cor-principal;
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		font-family: $font;
	}
}

ul {
	text-align: center;
	li {
		display: inline-block;
		list-style: none;
		a {
			display: block;
			padding: 20px;
			text-decoration: none;
			background: blue;
			color: white;
			&:hover, &.active {
				background: pink;
			}		
		}
		
	}
}