// @import '_colors';
// @import '_buttons';

// $preto: #999;
// $laranja: rgb(235, 44, 123);
$font-v: Verdana;

// div {
//     background: $preto;
//     a {
//         color: $laranja;
//         font-family: $fonte;
//     }
// }

// mobile
@mixin mobile {
	@media (max-width: 600px) {
		@content;
	}
}

$cor-principal: orange;
$font: monospace;
$size-text: 1.2em;

section {
	max-width: 600px;
	margin: 0 auto;
}

h1 {
	color: $cor-principal;
	font-family: $font;
}

p {
	font: {
		size: $size-text;
		family: $font;
	}
	line-height: 1.4;
	max-width: 400px;
}

@mixin box-shadow($shadow...) {
	box-shadow: $shadow;
	-moz-box-sizing: $shadow;
	-webkit-box-sizing: $shadow;
}

$shadow1: 5px 5px 3px 0 purple;
$shadow2: 10px 10px 0 0 orange;
$shadow3: 15px 15px 4px 0 rgb(4, 107, 133);

.modal {
	@include box-shadow(
		$shadow1,
		$shadow2,
		$shadow3,
	);
	a {
		display: block;
		max-width: 120px;
		padding: 10px;
		border-radius: 4px;
		text-align: center;
		background: $cor-principal;
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		font-family: $font;
	}
}

@mixin separador($cor, $largura: 100px) {
	&::after {
		content: '';
		display: block;
		height: 4px;
		width: $largura;
		background: $cor;
	}
}

@mixin title-large {
	font: {
		size: 4em;
		weight: bold;
		family: $font-v;
	}
	line: {
		height: 1;	
	}
	color: purple;
}

h2 {
	@include title-large;
	@include separador(#84E, 200px);
	@include mobile {
		font: {
			size: 2em;
			family: $font-v;
		}
		color: $cor-principal;
	};

}

ul {
	text-align: center;
	li {
		display: inline-block;
		list-style: none;
		a {
			display: block;
			padding: 20px;
			text-decoration: none;
			background: blue;
			color: white;
			&:hover, &.active {
				background: pink;
			}		
		}
		
	}
}

.erro {
	color: red;
	font-weight: bold;
}

a.erro {
	display: block;
}

.button-erro {
	@extend .erro;
	padding: 20px;
	width: 200px;
}

%clearfix::after {
	content: '';
	display: table;
	clear: both;
}

div {
	@extend %clearfix;
}


